extends layout

block content
  header.site-header
    form.color-type
      input#name(name="color-type", type="radio", checked)
      label(for="name") Color Name

      input#code(name="color-type", type="radio")
      label(for="code") Hex Color
      .slider

  mixin colors(colors)
    ul.colors
      - each color in colors
        li(id="#{color.name}", class="color #{color.name}")
          a.back(href="#") &times;
          a.fill(href="##{color.name}", style="background-color:#{color.name}")
            h2= color.name
            abbr= color.hex

  +colors(colors)